<!DOCTYPE html><html lang="en">
{% load staticfiles %}
  <html lang="en">

    <head>
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <title>Ministry Of Science And Higher Education</title>
  
      <!-- Bootstrap core CSS -->
      <link href="{%static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
      <!-- Custom fonts for this template -->
      <link href="{%static 'home/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  
      <!-- Plugin CSS -->
      <link href="{% static 'home/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="{% static 'home/css/creative.min.css' %}" rel="stylesheet">
  
    </head>
  
    <body id="page-top">

  <body id="page-top">
    
  
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-dark navbar-light fixed-top  text-white" id="mainNav">
        <div class="container">
        
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">

              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'Home:home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'Service:index'%}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'News:index'%}">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'Structure:index'%}">Structure</a>
              </li>
              
             
              
                
            </ul>
              <form class="navbar-form navbar-right" action="{% url 'News:search' %}" method="post">{%csrf_token%}
                <div class="form-group">
                  <input class="form-control" type="text" name='Title'>

                </div>
                <input type="submit" class="btn btn-default" value='search' method='POST' />
              </form>
          </div>
        </div>
      </nav>
            {%block body%}
            {%endblock%}

    
