{% include '../header.html' %}
{% load crispy_forms_tags %}
    {% block body%}


    <section style="margin-bottom: 20px;margin-top: 20px;">
    <div class="container col-md-8 offset-md-2" style="margin-top: 10px;">
        <div class="card">
          <div class="card-body">

            <h4 class="text-center card-title">Sign In</h4>
                <form method='POST' enctype="multipart/form-data">{%csrf_token%}
                    {{form | crispy}}
                <input class = 'btn btn-primary' type="submit" value = 'login'/>
               </form>
            </div>
        </div>
      </div>
    </section>


    {% endblock %}
{% include '../footer.html'%}
