
    <footer class="footer" id="contact">
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
        <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
        <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
        
        
        </div>
        
        
        <div class=" col-sm-6 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Contact Us</h5>
        <!--headin5_amrc-->
        <h6 style="color: #fff;">Leave us your Feed back</h6>
        <!--footer_ul_amrc ends here-->
        <form>
           <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
           <div class="form-group">
            <label for="exampleFormControlTextarea1">Comment us</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-warning col-md-5 offset-md-4">Send</button>
          </div>
        </form>
        </div>
        
        
        
        
        
        <div class=" col-sm-4 offset-md-1 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Site Map</h5>
        <!--headin5_amrc ends here-->
        
        <ul class="footer_ul2_amrc">
        <li><a href="#"></a><a href="{% url 'News:index'%}" class="main-link">Home</a></li>
        <li><a href="#"></a><a href="{% url 'Docs:index'%}" class="main-link">Document</a></li>
        <li><a href="#"></a><a href="{% url 'Service:index'%}" class="main-link">Service</li>
        <li><a href="#"></a><a href="/admin" class="main-link">Structure</li>
        
          
                            
                           
        </ul>
        <!--footer_ul2_amrc ends here-->
        </div>
        </div>
        </div>
        
        
        <div class="container">
        
        <p class="text-center">Copyright @2018 | Designed With by <a href="#">barnybedere@gmail.com</a></p>
        
        <ul class="social_footer_ul">
        <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
        </div>
        
        </footer>
        
           
        
        
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        </body>
        </html>
      