
{%include './header.html'%}
 
<section style="margin-bottom: 20px;margin-top: 20px;">    
   
        
        <div class="col-md-8 offset-md-2" style="margin-top: 10px;">
                <div class="card">
                  <div class="card-body">
                     {%if err%}
                     <h4 class="card-title">{{err}}</h4>
                    
                     {%endif%}
                    {%if objects%}  

                     {% for obj in objects%}
                        <a href="{%url 'Service:detail' obj.id  %}" class ="card-title">{{obj.Title}}</a>
                        <p class = 'card-text text-right text-info'> date published: {{obj.pub_date}}</p>
                     {% endfor %}
                    {% endif %}
                     
                    
                   
                  </div>
                </div>
              </div>
       
  
</section>



{%include '../footer.html'%}
        
        
                                                                                              

